---
import VivritiNext from '../../../public/v_next.png';
import VivritiNextW from '../../../public/v_next_white.png';
import VamLogo from '../../../public/vam_logo_p_orange.png';
import VamLogoW from '../../../public/vam_logo_p.png';
import VivCap from '../../../public/vivriti_capital.png';
import VivCapW from '../../../public/vivriti_capital_white.png';
---
<div class="py-[25px] md:py-[70px] overflow-hidden">
	<div class="container mx-auto px-4">
		<div class="tabs-wrapper">
		<div class="nav-tabs mb-4 p-3">
		<a href="#" class="tab text-center active relative" data-target="vivriti">
			<img src={VivritiNextW.src} alt="Vivrithi" class="mx-auto white"/>
			<img src={VivritiNext.src} alt="Vivrithi" class="mx-auto color"/>
		</a>
		<a href="#" class="tab text-center relative" data-target="vam">
			<img src={VamLogoW.src} alt="Vivrithi" class="mx-auto white"/>
			<img src={VamLogo.src} alt="Vivrithi" class="mx-auto color"/>
	</a>
		<a href="#" class="tab text-center relative" data-target="vivcap">
			<img src={VivCapW.src} alt="Vivrithi" class="mx-auto white"/>
			<img src={VivCap.src} alt="Vivrithi" class="mx-auto color"/>
	</a>
		</div>
		</div>
	</div>
        <div class="map_holder">
    	<img src="image 841.png" class="blink-dots" alt="Blinking Dotted Map">
        <div class="address_block_1 adress-content vivcap">
        	<a href="#"></a>
            <span class="place_label">Ahmedabad</span>
            <img src="Rectangle 6386.png" class="office_photo" />
        </div>
        
        
        <div class="address_block_2 adress-content common vivriti vam vivcap">
        	<a href="#"></a>
            <span class="place_label">Bangalore</span>
            <img src="Rectangle 6386.png" class="office_photo" />
        </div>
        
        
        <div class="address_block_3 adress-content vivcap">
        	<a href="#"></a>
            <span class="place_label">Hyderabad</span>
            <img src="Rectangle 6386.png" class="office_photo" />
        </div>

		<div class="address_block_4 adress-content vivcap">
        	<a href="#"></a>
            <span class="place_label">Kolkata</span>
            <img src="Rectangle 6386.png" class="office_photo" />
        </div>

		<div class="address_block_5 adress-content vivcap">
        	<a href="#"></a>
            <span class="place_label">Delhi</span>
            <img src="Rectangle 6386.png" class="office_photo" />
        </div>

		<div class="address_block_6 adress-content common vivriti vam vivcap">
        	<a href="#"></a>
            <span class="place_label">Chennai</span>
            <img src="Rectangle 6386.png" class="office_photo" />
        </div>

		<div class="address_block_7 adress-content vivcap">
        	<a href="#"></a>
            <span class="place_label">Gurgaon</span>
            <img src="Rectangle 6386.png" class="office_photo" />
        </div>

		<div class="address_block_8 adress-content vivcap">
        	<a href="#"></a>
            <span class="place_label">Jaipur</span>
            <img src="Rectangle 6386.png" class="office_photo" />
        </div>

		<div class="address_block_9 adress-content vivcap">
        	<a href="#"></a>
            <span class="place_label">Pune</span>
            <img src="Rectangle 6386.png" class="office_photo" />
        </div>

		<div class="address_block_10 adress-content vivcap">
        	<a href="#"></a>
            <span class="place_label">Mumbai</span>
            <img src="Rectangle 6386.png" class="office_photo" />
        </div>
    </div>
    </div>
    <style>
    /* Blinking animation */
    .blink-dots {
        animation: blink 1.3s infinite ease-in-out;
		width:583px;
		height:658px;
    }
	.map_holder{
		width:583px;
		height:658px;
		margin: auto;
		position:relative;
	}
	.address_block_1 a{
		width:65px;
		height:65px;
		display:block;
    	background-position: center center;
		background-image:url('../../../public/black_logo.png');
		background-repeat:no-repeat;
		transition:all linear 0.3s;
		position: absolute;
		right: -65px;
		top: -32.5px;
	}
	.address_block_1 a:hover{
		background-size: cover;
		background-image:url('../../../public/maplogo.png');
	}
	.address_block_1{
	    position: absolute;
		top: 286px;
    	left: -257px;
		width: 340px;
		display: flex;
		flex-direction: row-reverse;
		border-top: 1px solid #00000000;
		border-left: 1px solid #00000000;
		min-height: 60px;
	}
	.address_block_1:hover{
		border-top: 1px solid #000;
		border-left: 1px solid #000;
	}
	.address_block_1 .office_photo{
		position: absolute;
		width: 288px;
		left: -144px;
		top: 70px;
		opacity:0;
		transition:all linear 0.3s;
	}
	.address_block_1:hover .office_photo{
		opacity:1;
		top: 111px;
	}
	.address_block_1 .place_label{
		position: absolute;
        width: 180px;
        text-align: center;
        left: -90px;
        top: 80px;
		opacity:0;
		transition:all linear 0.3s;
	}
	.address_block_1:hover .place_label{
		opacity:1;
	}
	
	
	
	
	.address_block_2{
	    position: absolute;
		bottom: 100px;
    	left: 199px;
		width: 280px;
		display: flex;
		flex-direction: row;
		border-top: 1px solid #00000000;
		border-right: 1px solid #00000000;
		min-height: 60px;
        z-index: 9;
	}
	.address_block_2:hover{
		border-top: 1px solid #000;
		border-right: 1px solid #000;
	}
	.address_block_2 a{
		width:65px;
		height:65px;
		display:block;
    	background-position: center center;
		background-image:url('../../../public/black_logo.png');
		background-repeat:no-repeat;
		transition:all linear 0.3s;
		position: absolute;
		left: -65px;
		top: -32.5px;
	}
	.address_block_2 a:hover{
		background-size: cover;
		background-image:url('../../../public/maplogo.png');
	}
	.address_block_2 .office_photo{
		position: absolute;
		width: 288px;
		right: -144px;
		top: 70px;
		opacity:0;
		transition:all linear 0.3s;
	}
	.address_block_2:hover .office_photo{
		opacity:1;
		top: 111px;
	}
	.address_block_2 .place_label{
		position: absolute;
		width: 180px;
		right: -90px;
        text-align: center;
		top: 80px;
		opacity:0;
		transition:all linear 0.3s;
	}
	.address_block_2:hover .place_label{
		opacity:1;
	}
	
	
	.address_block_3{
	    position: absolute;
		top: 300px;
		left: 350px;
		width: 280px;
		display: flex;
		flex-direction: row;
		border-bottom: 1px solid #00000000;
		border-right: 1px solid #00000000;
		min-height: 60px;
	}
	.address_block_3:hover{
		border-bottom: 1px solid #000;
		border-right: 1px solid #000;
	}
	.address_block_3 a{
		width:65px;
		height:65px;
		display:block;
    	background-position: center center;
		background-image:url('../../../public/black_logo.png');
		background-repeat:no-repeat;
		transition:all linear 0.3s;
		position: absolute;
		left: -65px;
		bottom: -32.5px;
	}
	.address_block_3 a:hover{
		background-size: cover;
		background-image:url('../../../public/maplogo.png');
	}
	.address_block_3 .office_photo{
		position: absolute;
		width: 288px;
		right: -144px;
		bottom: 70px;
		opacity:0;
		transition:all linear 0.3s;
	}
	.address_block_3:hover .office_photo{
		opacity:1;
		bottom: 111px;
	}
	.address_block_3 .place_label{
		position: absolute;
		width: 180px;
		right: -90px;
        text-align: center;
		bottom: 80px;
		opacity:0;
		transition:all linear 0.3s;
	}
	.address_block_3:hover .place_label{
		opacity:1;
	}


	.address_block_4{
	    position: absolute;
		top: 256px;
    	left: 418px;
		width: 280px;
		display: flex;
		flex-direction: row;
		border-bottom: 1px solid #00000000;
		border-right: 1px solid #00000000;
		min-height: 60px;
	}
	.address_block_4:hover{
		border-bottom: 1px solid #000;
		border-right: 1px solid #000;
	}
	.address_block_4 a{
		width:65px;
		height:65px;
		display:block;
    	background-position: center center;
		background-image:url('../../../public/black_logo.png');
		background-repeat:no-repeat;
		transition:all linear 0.3s;
		position: absolute;
		left: -65px;
		bottom: -32.5px;
	}
	.address_block_4 a:hover{
		background-size: cover;
		background-image:url('../../../public/maplogo.png');
	}
	.address_block_4 .office_photo{
		position: absolute;
		width: 288px;
		right: -144px;
		bottom: 70px;
		opacity:0;
		transition:all linear 0.3s;
	}
	.address_block_4:hover .office_photo{
		opacity:1;
		bottom: 111px;
	}
	.address_block_4 .place_label{
		position: absolute;
		width: 180px;
		right: -90px;
        text-align: center;
		bottom: 80px;
		opacity:0;
		transition:all linear 0.3s;
	}
	.address_block_4:hover .place_label{
		opacity:1;
	}


	.address_block_5{
	    position: absolute;
		top: 130px;
    	left: 242px;
		width: 280px;
		display: flex;
		flex-direction: row;
		border-bottom: 1px solid #00000000;
		border-right: 1px solid #00000000;
		min-height: 60px;
	}
	.address_block_5:hover{
		border-bottom: 1px solid #000;
		border-right: 1px solid #000;
	}
	.address_block_5 a{
		width:65px;
		height:65px;
		display:block;
    	background-position: center center;
		background-image:url('../../../public/black_logo.png');
		background-repeat:no-repeat;
		transition:all linear 0.3s;
		position: absolute;
		left: -65px;
		bottom: -32.5px;
	}
	.address_block_5 a:hover{
		background-size: cover;
		background-image:url('../../../public/maplogo.png');
	}
	.address_block_5 .office_photo{
		position: absolute;
		width: 288px;
		right: -144px;
		bottom: 70px;
		opacity:0;
		transition:all linear 0.3s;
	}
	.address_block_5:hover .office_photo{
		opacity:1;
		bottom: 111px;
	}
	.address_block_5 .place_label{
		position: absolute;
		width: 180px;
		right: -90px;
        text-align: center;
		bottom: 80px;
		opacity:0;
		transition:all linear 0.3s;
	}
	.address_block_5:hover .place_label{
		opacity:1;
	}



	.address_block_6{
	    position: absolute;
		top: 465px;
    	left: 264px;
		width: 280px;
		display: flex;
		flex-direction: row;
		border-bottom: 1px solid #00000000;
		border-right: 1px solid #00000000;
		min-height: 60px;
	}
	.address_block_6:hover{
		border-bottom: 1px solid #000;
		border-right: 1px solid #000;
	}
	.address_block_6 a{
		width:65px;
		height:65px;
		display:block;
    	background-position: center center;
		background-image:url('../../../public/black_logo.png');
		background-repeat:no-repeat;
		transition:all linear 0.3s;
		position: absolute;
		left: -65px;
		bottom: -32.5px;
	}
	.address_block_6 a:hover{
		background-size: cover;
		background-image:url('../../../public/maplogo.png');
	}
	.address_block_6 .office_photo{
		position: absolute;
		width: 288px;
		right: -144px;
		bottom: 70px;
		opacity:0;
		transition:all linear 0.3s;
	}
	.address_block_6:hover .office_photo{
		opacity:1;
		bottom: 111px;
	}
	.address_block_6 .place_label{
		position: absolute;
		width: 180px;
		right: -90px;
        text-align: center;
		bottom: 80px;
		opacity:0;
		transition:all linear 0.3s;
	}
	.address_block_6:hover .place_label{
		opacity:1;
	}


	.address_block_7{
	    position: absolute;
		top: 156px;
    	left: 200px;
		width: 280px;
		display: flex;
		flex-direction: row;
		border-bottom: 1px solid #00000000;
		border-right: 1px solid #00000000;
		min-height: 60px;
	}
	.address_block_7:hover{
		border-bottom: 1px solid #000;
		border-right: 1px solid #000;
	}
	.address_block_7 a{
		width:65px;
		height:65px;
		display:block;
    	background-position: center center;
		background-image:url('../../../public/black_logo.png');
		background-repeat:no-repeat;
		transition:all linear 0.3s;
		position: absolute;
		left: -65px;
		bottom: -32.5px;
	}
	.address_block_7 a:hover{
		background-size: cover;
		background-image:url('../../../public/maplogo.png');
	}
	.address_block_7 .office_photo{
		position: absolute;
		width: 288px;
		right: -144px;
		bottom: 70px;
		opacity:0;
		transition:all linear 0.3s;
	}
	.address_block_7:hover .office_photo{
		opacity:1;
		bottom: 111px;
	}
	.address_block_7 .place_label{
		position: absolute;
		width: 180px;
		right: -90px;
        text-align: center;
		bottom: 80px;
		opacity:0;
		transition:all linear 0.3s;
	}
	.address_block_7:hover .place_label{
		opacity:1;
	}

	.address_block_8 a{
		width:65px;
		height:65px;
		display:block;
    	background-position: center center;
		background-image:url('../../../public/black_logo.png');
		background-repeat:no-repeat;
		transition:all linear 0.3s;
		position: absolute;
		right: -65px;
    	top: 25.5px;
	}
	.address_block_8 a:hover{
		background-size: cover;
		background-image:url('../../../public/maplogo.png');
	}
	.address_block_8{
	    position: absolute;
		 top: 256px;
    	left: -187px;
		width: 340px;
		display: flex;
		flex-direction: row-reverse;
		border-bottom: 1px solid #00000000;
		border-left: 1px solid #00000000;
		min-height: 60px;
	}
		.address_block_8:hover{
		border-bottom: 1px solid #000;
		border-left: 1px solid #000;
	}
	.address_block_8 .office_photo{
		position: absolute;
		width: 288px;
		left: -144px;
		top: -46px;
		opacity:0;
		transition:all linear 0.3s;
	}
	.address_block_8:hover .office_photo{
		opacity:1;
		top: -260px;
	}
	.address_block_8 .place_label{
		position: absolute;
        width: 180px;
        text-align: center;
        left: -90px;
        top: -36px;
		opacity:0;
		transition:all linear 0.3s;
	}
	.address_block_8:hover .place_label{
		opacity:1;
	}


	.address_block_9 a{
		width:65px;
		height:65px;
		display:block;
    	background-position: center center;
		background-image:url('../../../public/black_logo.png');
		background-repeat:no-repeat;
		transition:all linear 0.3s;
		position: absolute;
		right: -65px;
		top: -32.5px;
	}
	.address_block_9 a:hover{
		background-size: cover;
		background-image:url('../../../public/maplogo.png');
	}
	.address_block_9{
	    position: absolute;
		top: 447px;
    	left: -257px;
		width: 340px;
		display: flex;
		flex-direction: row-reverse;
		border-top: 1px solid #00000000;
		border-left: 1px solid #00000000;
		min-height: 60px;
	}
	.address_block_9:hover{
		border-top: 1px solid #000;
		border-left: 1px solid #000;
	}
	.address_block_9 .office_photo{
		position: absolute;
		width: 288px;
		left: -144px;
		top: 70px;
		opacity:0;
		transition:all linear 0.3s;
	}
	.address_block_9:hover .office_photo{
		opacity:1;
		top: 111px;
	}
	.address_block_9 .place_label{
		position: absolute;
        width: 180px;
        text-align: center;
        left: -90px;
        top: 80px;
		opacity:0;
		transition:all linear 0.3s;
	}
	.address_block_9:hover .place_label{
		opacity:1;
	}

.address_block_10 a{
		width:65px;
		height:65px;
		display:block;
    	background-position: center center;
		background-image:url('../../../public/black_logo.png');
		background-repeat:no-repeat;
		transition:all linear 0.3s;
		position: absolute;
		right: -65px;
		top: -32.5px;
	}
	.address_block_10 a:hover{
		background-size: cover;
		background-image:url('../../../public/maplogo.png');
	}
	.address_block_10{
	    position: absolute;
		top: 391px;
		left: -200px;
		width: 272px;
		display: flex;
		flex-direction: row-reverse;
		border-top: 1px solid #00000000;
		border-left: 1px solid #00000000;
		min-height: 191px;
	}
		.address_block_10:hover{
		border-top: 1px solid #000;
		border-left: 1px solid #000;
	}
	.address_block_10 .office_photo{
		position: absolute;
		width: 288px;
		left: -144px;
		top: 190px;
		opacity:0;
		transition:all linear 0.3s;
	}
	.address_block_10:hover .office_photo{
		opacity:1;
		top: 235px;
	}
	.address_block_10 .place_label{
		position: absolute;
        width: 180px;
        text-align: center;
        left: -90px;
        top: 200px;
		opacity:0;
		transition:all linear 0.3s;
	}
	.address_block_10:hover .place_label{
		opacity:1;
	}
.office_photo{
	z-index: 99;
}
    @keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 0.3; }
        100% { opacity: 1; }
    }


  /* Full width container */
    .tabs-wrapper {
      width: 100%;
    }

    /* Tabs row */
    .nav-tabs {
      display: flex;
      border: 1px dashed #ff6b00;
    }

    /* Individual tab */
    .tab {
      flex: 1; /* Equal width tabs */
      padding: 10px 10px;
      text-align: center;
      text-decoration: none;
      color: #0b4edb;
      font-weight: 600;
	  height: 60px;
      background: #ffffff;
      border-right: 1px solid #e6e6e6;
      transition: background 0.3s ease, color 0.3s ease;
	  overflow: hidden;
    }

	.tab .white {
		top: -70px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		transition: all linear 0.3s;
    }

	.tab .color {
		top: 12px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		transition: all linear 0.3s;
    }

	.tab:hover .white, .tab.active .white {
		top: 12px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
    }

	.tab:hover .color, .tab.active .color {
		top: 70px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
    }

    .tab:last-child {
      border-right: none;
    }

    /* Hover & Active */
    .tab:hover,
    .tab.active {
      background: linear-gradient(90deg, #0b4edb, #1b6cff);
      color: #ffffff;
    }

	.adress-content {
	display: none;
	}

	.adress-content.common {
		display: block; /* always visible */
	}

	.adress-content.active {
	display: block;
	}

    /* Mobile handling */
    @media (max-width: 768px) {
      .nav-tabs {
        overflow-x: auto;
      }
      .tab {
        min-width: 140px;
        flex: none;
      }
    }
</style>
<script>
	document.querySelectorAll('.tab').forEach(tab => {
  tab.addEventListener('click', e => {
    e.preventDefault();

    // hide all contents
    document.querySelectorAll('.adress-content').forEach(content =>
      content.classList.remove('active')
    );

    // show related content
    const target = tab.dataset.target;
    document.querySelectorAll(`.adress-content.${target}`).forEach(block =>
      block.classList.add('active')
    );
  });
});
</script>